{% extends "layout.jinja2" %}
{% block title %}Success{% endblock %}

{% block main %}

    <h1>Success</h1>

    <div class="block">
        <p>{{ message }}</p>
    </div>
    <p><a role="button" class="menu-button" href="/panel/">Continue</a></p>

{% endblock %}
