# Discord bot token
TOKEN=

# Third-party API keys
STEAM_DEV_KEY=
FFXIV_API_KEY=
RAPIDAPI_KEY=
SAUCENAO_KEY=
SECRET_KEY=
LLM_KEY=

# MySQL connection
MYSQL_SERVER=
MYSQL_USERID=
MYSQL_PASSWORD=
MYSQL_DATABASE=
