/* Sections */
body {
    background-color: #666666;
    font-family: Tahoma, SansSerif, sans-serif;
    color: #BBBBBB;
}

main {
    margin: 2rem auto auto;
    width: 60%;
    max-width: 800px;
    background-color: #EEEEEE;
    padding: 1rem 1.5rem;
    color: #202020;
}

footer {
    margin: 2rem auto auto;
    text-align: center;
}

/* W3 Components */

table, td {
    border: 0 #222222 solid;
    color: black;
}

a {
    color: black;
}

/* My Components */

.block {
    background-color: #BBBBBB;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

.menu-button {
    border-radius: 5px;
    background-color: #444499;
    border: 0;
    padding: 0.5rem;
    display: block;
    color: #EEEEEE;
    margin-bottom: .4rem;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #5555AA;
}

input {
    border-radius: 3px;
    border: 1px black solid;
}

input[type=text] {
    padding: 0.3rem 0.5rem;
}

select {
    padding: 0.3rem 0.5rem;
    min-width: 100px;
}

input[type=submit] {
    padding: 0.3rem 0.5rem;
    background-color: #AAAAFF;
}

/* Modifiers */

.bottom-pad {
    padding-bottom: 0.75rem;
}