{% extends "layout.html" %}
{% block title %}Commands{% endblock %}

{% block main %}

    <p><a href="/panel/">Go back</a></p>

    <h3>Custom commands for for {{ server['namecache'] }}</h3>

    {% for cmd in commands %}
        <div class="block">
            <h4><b>/</b>{{ cmd['name'] }}</h4>
            <p>{{ cmd['description'] }}.</p>
            <p><a href="/panel/{{ server['id'] }}/cmds">Delete</a></p>
        </div>
    {% else %}
        <div class="block">
            <p>No custom commands defined.</p>
        </div>
    {% endfor %}
    <h4>Create new command</h4>
    <div id="command-box">
        <form method="POST" action="/action/{{ server['id'] }}/create-cmd">
            <label>Command: /<input type="text" name="name" placeholder="Enter command"></label>
            <label>Description: <input type="text" name="description" placeholder="Enter description"></label>
            <label>
                Type:
                <select name="type">
                    <option value=1>Send message</option>
                    <option value=2>Assign role</option>
                </select>
            </label>

        </form>
    </div>

{% endblock %}