{% extends "layout.jinja2" %}
{% block title %}Panel{% endblock %}

{% block main %}

    <small>Welcome, {{ user['namecache'] }} | <a href="/session/logout">Logout</a></small>

    <h2>Servers</h2>
    <hr>
    {% for server in servers %}
        <div class="block">
            <p style="font-size: 1.3rem; font-weight: bold; margin: .75rem 0;">{{ server['namecache'] }}</p>
            <p>{{ server['members'] }} members.</p>
            <p>
                <a href="/panel/{{ server['id'] }}/settings">Settings</a> |
                <a href="/panel/{{ server['id'] }}/roles">Roles</a>
            </p>
        </div>
    {% else %}
        <p>You do not have any servers in which Rosettes has been added.</p>
    {% endfor %}

    <h2>Applications</h2>
    <hr>
    {% for app in apps %}
        <div class="block">
            <p style="font-size: 1.3rem; font-weight: bold; margin: .75rem 0;">{{ app['name'] }}</p>
            <p><a href="/panel/app/{{ app['id'] }}">Manage</a></p>
        </div>
    {% else %}
        <p>You have no applications registered. <a href="/panel/apps/new">Create an app</a>.</p>
    {% endfor %}

{% endblock %}