{% extends "layout.html" %}
{% block title %}Panel{% endblock %}

{% block main %}

    <p>Welcome, {{ user['namecache'] }} | <a href="/session/logout">Logout</a></p>

    <h2>Servers</h2>

    {% for server in servers %}
        <div class="block">
            <h4>{{ server['namecache'] }}</h4>
            <p>{{ server['members'] }} members.</p>
            <p><a href="/panel/{{ server['id'] }}/settings">Settings</a> | <a href="/panel/{{ server['id'] }}/roles">Roles</a> | <a href="/panel/{{ server['id'] }}/cmds">Custom commands</a></p>
        </div>
    {% else %}
        <p>You do not have any servers in which Rosettes has been added.</p>
    {% endfor %}

{% endblock %}