{% extends "layout.jinja2" %}
{% block title %}Creating Autoroles{% endblock %}

{% block main %}

    <p><a href="/panel/">Go back</a></p>

    <h3>Autoroles for {{ server['namecache'] }}</h3>

    <p>Autorole groups:</p>
    {% for arg in autorole_groups %}
        <div class="block">
            <h4>{{ arg.name }}</h4>
            <p>Group ID: {{ arg.id }}</p>
            <p>Applied to message: {% if arg.messageid > 0 %} {{ arg.messageid }} {% else %} No {% endif %}</p>
        </div>
    {% else %}
        <div class="block">
            <p>No autorole groups exist yet.</p>
        </div>
    {% endfor %}
    <p><a href=/panel/{{ server.id }}/autoroles-maker>Create new Autoroles group</a></p>

{% endblock %}